.sidebar-wrapper {
  display: flex;
}

.sidebar {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  box-shadow: 4px 0px 16px 0px rgba(0, 0, 0, 0.08);
  padding-bottom: 24px;
  padding-top: 20px;
  padding-inline: 20px;

  &__divider {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
    width: 19px;
  }

  &__divider--primary {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__copyright {
    color: rgba(0, 0, 0, 0.3);
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
  }

  &__content {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 250px;

    .sidebar_content_wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 10px;

      .sidebar__header {
        width: 210px;
        display: flex;
        flex-direction: column;
        height: min-content;

        .sidebar__title {
          font-weight: 700;
          display: flex;
          font-style: normal;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.8);
          height: min-content;
          letter-spacing: 0.3px;
          vertical-align: middle;
          font-size: 14px;
        }

        .sidebar__subtitle {
          vertical-align: middle;
          color: rgba(0, 0, 0, 0.8);
          line-height: 16px;
          font-weight: 400;
          letter-spacing: 0.24px;
          font-size: 11px;
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__nav-item {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding-right: 40px;
    padding-block: 10px;
    padding-left: 12px;
    gap: 12px;

    svg {
      stroke: rgba(59, 59, 59, 1);
    }

    &:hover {
      background-color: rgba(59, 59, 59, 1);
      color: rgba(255, 255, 255, 0.95);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);

      svg {
        stroke: rgba(255, 255, 255, 1);
      }
    }
  }
}
