.menu {
  display: flex;
  height: 100%;
  padding-inline: 6px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(59, 59, 59, 1);
  justify-content: space-between;

  &__divider {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.2);
    width: 19px;
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding-top: 20px;
  }

  &-icon-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 36px;
    border-radius: 8px;
    cursor: pointer;

    a {
      display: flex;
      width: 100%;
      padding: 8px;
      border-radius: 8px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }
}
